<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
</head>
<body>
<form method="POST">
  {%csrf_token%}
  <div class="col-md-12 col-sm-12 col-xs-12 nopadding ">

    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="Name">Title</label>
          <input type="text" class="form-control" name="Firstname" placeholder="Title" autocomplete="false">
        </div>
        <div class="form-group col-md-8">
          <label for="Name">Upload image</label>
          <input type="image" class="form-control" name="Lastname" placeholder="Image" autocomplete="false">
        </div>

          <div class="form-group col-md-8">
          <label for="Name">URL</label>
          <input type="url" class="form-control" name="Lastname" placeholder="url" autocomplete="false">
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>