{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}

<section style="padding:50px">

  <div class="text-center">
        <h2 class="hover-underline-animation"><b style="color:black">Accounting</b> <span style="color:#0077b5"><b>Services</b></span></h2>
    </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'CA_app/images/acco.png'%}" height="400px" width="100%">
      </div>

      <div class="col-sm-6">

          <br>
        <ul>
          <li>
            <p style="font-size:16px">Accounting System Design & Implementation.</p>
          </li>
          <li>
            <p style="font-size:16px">Financial Accounting.</p>
          </li>
          <li>
            <p style="font-size:16px">Budgeting.</p>
          </li>
          <li>
            <p style="font-size:16px">Financial Reporting.</p>
          </li>
           <li>
            <p style="font-size:16px">MIS Reports</p>
          </li>          
          <li>
            <P style="font-size:16px">Financial Analysis.</p>
          </li>
          <li>
            <P style="font-size:16px">Asset Accounting Management.</p>
          </li>
          <li>
            <p style="font-size:16px">Depreciation and Amortization Schedules.</p>
          </li>
          
        </ul>
      </div>


           <div class="col-sm-12 mt-5">
 {% include 'CA_app/SERVICES/Request_form/request_form.html' %}
      {% block request_content %}

      {% endblock request_content %}
   </div>
    </div>
  </div>
</section>
{% endblock content %}