{% extends 'CA_app/BASECODE/CA_app_base.html' %}

{% block content %}
{% load static %}

<section style="padding:50px">
    <div class="text-center">
        <h2 class="hover-underline-animation"><b style="color:black">Corporate Finance</b> <span style="color:#0077b5"><b>Services</b></span></h2>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'CA_app/images/cop.png'%}" height="400px" width="100%">
      </div>
      <div class="col-sm-6">

        <br>
        <ul>
          <li>
            <p style="font-size:16px">Preparations of Project Reports.</p>
          </li>
          <li>
            <p style="font-size:16px">Preparation of CMA data for bank loans.</p>
          </li>
          <li>
            <P style="font-size:16px">Private placement of shares, Inter-Corporate Deposit, Terms loans, working capital limits, etc.</p>
          </li>
          <li>
            <p style="font-size:16px">External Credit Borrowings (ECBs).</p>
          </li>
         
        </ul>
      </div>
    <div class="col-sm-12 mt-5">
 {% include 'CA_app/SERVICES/Request_form/request_form.html' %}
      {% block request_content %}

      {% endblock request_content %}
    </div>
  </div>
  </div>
</section>


{% endblock content %}