{% extends 'CA_app/BASECODE/CA_app_base.html' %}

{% block content %}
{% load static %}

<section style="padding:50px">
    <div class="text-center">
        <h2 class="hover-underline-animation"><b style="color:black">GST</b> <span style="color:#0077b5"><b>Services</b></span></h2>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'CA_app/images/gstt.png'%}" height="400px" width="100%">
      </div>
      <div class="col-sm-6">

        <br>
        <ul>
          <li>
            <p style="font-size:16px">GST Migration.</p>
          </li>
          <li>
            <p style="font-size:16px">Obtaining GST Registration.</p>
          </li>
          <li>
            <P style="font-size:16px">Consultancy on matters related to GST.</p>
          </li>
          <li>
            <p style="font-size:16px">Preparation of GST returns.</p>
          </li>
          <li>
            <p style="font-size:16px">Filing of Electronic/Manual GST returns.</p>
          </li>
          <li>
            <p style="font-size:16px">Help in obtaining statutory forms.</p>
          </li>
          <li>
            <p style="font-size:16px">Liaison with GST authorities Getting GST Assessments done.</p>
          </li>
          <li>
            <p style="font-size:16px">Filing and pleading appeals wherever necessary.</p>
          </li>
          <li>
            <p style="font-size:16px">Consultancy on matters related to Works Contract Tax compliances.</p>
          </li>
          <li>
            <p style="font-size:16px">Other related compliances of GST.</p>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 mt-5">
 {% include 'CA_app/SERVICES/Request_form/request_form.html' %}
      {% block request_content %}

      {% endblock request_content %}
    </div>
  </div>
  </div>
</section>



{% endblock content %}