{% extends 'CA_app/BASECODE/CA_app_base.html' %}

{% block content %}
{% load static %}

<section style="padding:50px">

     <div class="text-center">
        <h2 class="hover-underline-animation"><b style="color:black">Outsourcing</b> <span style="color:#0077b5"><b>Services</b></span></h2>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-5">
        <img src="{% static 'CA_app/images/ou.png'%}" height="400px" width="100%">
      </div>
      <div class="col-sm-6 mt-5">

        <br>
        <ul>
          <li>
            <p style="font-size:16px">Enables business to concentrate on core business activities.</p>
          </li>
          <li>
            <p style="font-size:16px">Use of manpower for more important functions.</p>
          </li>
          <li>
            <P style="font-size:16px">Investment in fixed assets reduced/minimized.</p>
          </li>
          <li>
            <p style="font-size:16px">Substantial Savings in Cost.</p>
          </li>
          <li>
            <p style="font-size:16px">Services of experts made available.</p>
          </li>
          <li>
            <p style="font-size:16px">Improved Internal Controls.</p>
          </li>
          <li>
            <p style="font-size:16px">Enhanced reporting capabilities to provide more timely and accurate financial data.</p>
          </li>
          <li>
            <p style="font-size:16px">Off-site Backup of Data.</p>
          </li>
          
        </ul>
      </div>
           <div class="col-sm-12 mt-5">
 {% include 'CA_app/SERVICES/Request_form/request_form.html' %}
      {% block request_content %}

      {% endblock request_content %}
    </div>
  </div>
  </div>
</section>



{% endblock content %}