{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}
<section class="enquiry-sec">
      <div class="container">
        <h2>Types of <span>Registration</span>
        </h2>
      </div>


<div class="container">
     <div class="row">

       <div class="col-sm-4">

           <div class="services-box-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <line class="top" x1="0" y1="0" x2="900" y2="0"></line>
            <line class="left" x1="0" y1="100%" x2="0" y2="-920"></line>
            <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
            <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
          </svg>
           <a class="serviceA" href="{% url 'msme_about'%}">
          <div class="icons">
            <img src="{% static 'CA_app/images/registration_img/msme.jpg'%}" height="70px" width="70px" alt="" title="">
          </div>
          <h4>MSME Registration</h4>
          <p>•MSME registration process is fully online, paperless and based on self-declaration. · No documents or proof are required to be uploaded for registering an MSME.
              .</p>
           </a></div>

       </div>

<div class="col-sm-4">
 <div class="services-box-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"></line>
              <line class="left" x1="0" y1="100%" x2="0" y2="-920"></line>
              <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
              <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
            </svg>
     <a class="serviceA" href="{% url 'gst_home'%}">
            <div class="icons">
              <img src="{% static 'CA_app/images/registration_img/gst.png'%}" alt="" title="">
            </div>
            <h4>GST Registration</h4>
            <p>GST registration is mandatory for all eCommerce Sellers Citizen can apply for New GST by Registrating online without Visiting the Govt. office.</p>

     </a></div>

       </div>

 <div class="col-sm-4">

   <div class="services-box-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="900" y2="0"></line>
                <line class="left" x1="0" y1="100%" x2="0" y2="-920"></line>
                <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
                <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
              </svg>
       <a class="serviceA" href="#">
              <div class="icons">
                <img src="{% static 'CA_app/images/registration_img/professional.jpg'%}" alt="" title="">
              </div>
              <h4>Professional Tax Registration</h4>
              <p>Online Professional Tax Registration - Detailed Process ; Step 1: PAN card, address, and identity proof of all the directors/partners/proprietors of the company ...</p>

       </a></div>
     </div>


     <div class="row">
       <div class="col-sm-4">
         <div class="services-box-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                  <line class="top" x1="0" y1="0" x2="900" y2="0"></line>
                  <line class="left" x1="0" y1="100%" x2="0" y2="-920"></line>
                  <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
                  <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
                </svg>
             <a class="serviceA" href="#">
                <div class="icons">
                  <img src="{% static 'CA_app/images/registration_img/tan.png'%}" height="70px" width="70px" alt="" title="">
                </div>
                <h4>TAN Registration</h4>
                <p>• TAN or Tax Deduction and Collection Account Number is a 10 digit alpha numeric number required to be obtained by all persons who are responsible for ...
People also ask.</p>

             </a></div>
       </div>

         <div class="col-sm-4">

          <div class="services-box-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                    <line class="top" x1="0" y1="0" x2="900" y2="0"></line>
                    <line class="left" x1="0" y1="100%" x2="0" y2="-920"></line>
                    <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
                    <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
                  </svg>

               <a class="serviceA" href="#">
                  <div class="icons">
                    <img src="{% static 'CA_app/images/CORPORATE-FINANCE.png'%}" height="80px" width="70px" alt="" title="">
                  </div>
                  <h4>Import/Export Code</h4>
                   <p>An Importer -Exporter Code (IEC) is a key business identification number which mandatory for export from India or Import to India.</p>
         </a> </div>
       </div>

         <div class="col-sm-4">
         <div class="services-box-item">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                    <line class="top" x1="0" y1="0" x2="800" y2="0"></line>
                    <line class="left" x1="0" y1="90%" x2="0" y2="920"></line>
                    <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
                    <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
                  </svg>
             <a class="serviceA" href="#">
                  <div class="icons">
                    <img src="{% static 'CA_app/images/registration_img/fssai.png'%}" height="70px" width="70px" alt="" title="">
                  </div>
                  <h4>FSSAI Registration</h4>
                  <p>Filling Application for Registration becomes easier through App. Remain updated with FSSAI news.</p>

             </a></div>
         </div>

     </div>

 <div class="row">
  <div class="col-sm-4">
    <div class="services-box-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="900" y2="0"></line>
                <line class="left" x1="0" y1="100%" x2="0" y2="-920"></line>
                <line class="bottom" x1="100%" y1="100%" x2="-600" y2="100%"></line>
                <line class="right" x1="100%" y1="0" x2="100%" y2="1380"></line>
              </svg>
        <a class="serviceA" href="#">
              <div class="icons">
                <img src="{% static 'CA_app/images/registration_img/esi.png'%}" height="70px" width="70px" alt="" title="">
              </div>
              <h4>ESI Registration</h4>
              <p>When should a company register for ESI?
ESI registration is mandatory once a company or any other entity employs 10 or more low-earning employees.</p>

        </a></div>

    </div>


    </div>

  </div>


   </div>


</section>




{% endblock content %}