{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}


<section style="margin:30px">
    <br>
<div class="container mt-5">
    <div class="text-center">
     <h2 class="hover-underline-animation">Business Tax Filing</h2>
    </div>
    <br>
    <div class="row mt-5">
        <div class="col-sm-6">
<img src="{% static 'CA_app/images/tax_filing_img/tax-busi.jpg'%}" height="200px" width="100%">
        </div>


         <div class="col-sm-6">

  <p>All companies registered in India are required to file income tax returns each year. Under the Income Tax Act, company tax return filing falls under two categories, namely domestic company or foreign company. Companies registered with the Ministry of Corporate Affairs like Private Limited Company, One Person Company or Limited Company are classified as a domestic company.</p>
        <li> Document Collection</li>
        <li>Return Prepartion</li>
        <li>Return Filing</li>


         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>





</section>





{% endblock content %}