{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}
<!--<hr style="height:5px; width:100%; border-width:0; color:#16c7b8; background-color:#16c7b8">-->
<section style="padding:30px">
<div class="container mt-5">
<br>
    <div class="text-center">
     <h2 class="hover-underline-animation">ESI Return</h2>
    </div>
    <br>
    <div class="row mt-3">
        <div class="col-sm-6">

  <img class="taximg1" height="300px" width="500px" src="{% static 'CA_app/images/tax_filing_img/esi2.png'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6">
        <p> ESI return must be filed monthly by all persons and entities having a ESI registration. CA Office can help prepare and file ESI returns on a monthly basis</p>
        <li>Document Collection</li>
        <li> Return Prepartion</li>
        <li>Return Filing</li>

        </div>
    </div>

</div>
</section>
{% endblock content %}