{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}

<section style="padding:30px">
<div class="container mt-5">
<br>
    <div class="text-center">
     <h2 class="hover-underline-animation">GST Return Filing</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">

  <img class="taximg1" height="300px" width="500px" src="{% static 'CA_app/images/tax_filing_img/gst-return.png'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6">
        <p>GST return must be filed by all person having GST registration. CA Office offers an easy process for filing GST return from Rs.499/-</p>
        <li>Information Collection</li>
        <li>GST Return Prepartion</li>
        <li>GST Filing</li>


        </div>
    </div>

</div>
</section>





{% endblock content %}