{% extends 'CA_app/BASECODE/CA_app_base.html' %}

{% block content %}
{% load static %}
<section style="padding:50px">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 mt-5">
              <h3 class="text-info">How an Accounting Firm Can Get Popularity in Digital Space? :</h3>
    <br>
              <p>  Digital strategy is one of the most important steps in the marketing plan. Where statistics show, 85% of the consumers conduct online research prior to making any purchase, and for accounting services, that number is higher than 60%. In the digital era, the first way to treat the audience in an organization is to have an attractive website.

This indicates that the potential clients mainly rely on their decisions to work with an accounting industry or not depending on its digital footprint. </p>

          </div>


           <div class="col-sm-6 mt-5">
        <img src="{% static 'CA_app/images/blog2.jpg'%}" height="300px" width="100%">

          </div>
      </div>

  </div>

</section>
{% endblock content %}