{% extends 'CA_app/BASECODE/CA_app_base.html' %}

{% block content %}
{% load static %}
<section style="padding:50px">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 mt-5">
              <h3 class="text-info">ICAI Extends Last Date For Multipurpose Empanelment Form 2021-22 :</h3>
    <br>
              <p> The Institute of Chartered Accountants of India (ICAI) postpone the last date for the Multipurpose Empanelment Form for the year 2021-22 to the subsequent 10 days.

ICAI acknowledged several requests which were obtained via members of ICAI and recommend that the central council members have decided through the professional development committee to prolong the due date towards submission of the online Multipurpose Empanelment Form as well as the Declaration to the year 2021-22 to the next 10 days.

                  10th Nov 2021 to 20th November 2021 it is specified that the due date is prolonged.</p>
          </div>


           <div class="col-sm-6 mt-5">
        <img src="{% static 'CA_app/images/blog3.jpg'%}" height="300px" width="100%">

          </div>
      </div>

  </div>
</section>
{% endblock content %}
