{% extends 'CA_app/BASECODE/CA_app_base.html' %} {% block content %} {% load static %} <head>
  <section style="padding:50px">

    <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <h3 class="text-info">Introducing CA Firm or Practising Chartered Accountancy in India :</h3>
    <br>
              <p>Opting your own customers, working independently, furnishing the services in your area of the specific field and the interest are some of the causes to initiate your own chartered accountancy work. Towards the case in which more CAs come into practice, it is an opportunity for you to build your own firm. Nowadays, there is a craze of Chartered Accountants because Chartered Accountancy Practice or CA Firm is among the professional practices that almost everyone are dreaming to do. CA’s are the professionals who have more knowledge about taxation, accounting, audit and other financial topics than us.  </p>

          </div>


           <div class="col-sm-6">
        <img src="{% static 'CA_app/images/blog1.jpg'%}" height="300px" width="100%">

          </div>
      </div>

  </div>
  </section>
{% endblock content %}