{% extends 'CA_app/BASECODE/CA_app_base.html' %}

{% block content %}
{% load static %}


  <section style="padding:50px">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 mt-5">
              <h3 class="text-info">Guide To How To Become A (CA) Chartered Accountant in India :</h3>
    <br>
              <p> Are you the one who aspires to become a CA? And looking for something to help you foresee an entire CA journey? Then you have landed on the right page as we are here with the four-step journey to become a CA professional to make you conclude – is this the right professional for you and that you are an ideal candidate to complete this course successfully.

                  Class 12 is a crossroads for most of the students in India. </p>
</div>


           <div class="col-sm-6 mt-5">
        <img src="{% static 'CA_app/images/blog6.jpg'%}" height="300px" width="100%">

          </div>
      </div>

  </div>

  </section>


{% endblock content %}