{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}



<section style="padding:50px">
    <br>
<div class="container">
    <div class="text-center">
     <h2 class="hover-underline-animation">Limited Liability Partenership</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding:50px">

       <img class="taximg1" height="350px" width="100%" src="{% static 'CA_app/images/start_a_business_img/LLP1.png'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6 " style="padding:50px;margin-bottom:10px">

 <p>
    LLP Registration Limited Liability Partnership (LLP) offer limited liability protection for an association of persons doing business. LLP is ideal for small businesses.

  </p>

         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>

</section>


{% endblock content %}