{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}


<section style="padding:50px">
<br>
<div class="container">
    <div class="text-center">
     <h2 class="hover-underline-animation">One Persaon Company</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding-right:100px">

       <img class="taximg1" height="400px" width="100%" src="{% static 'CA_app/images/start_a_business_img/one-person-company.jpg'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6 mt-5" style="padding:30px">

 <p>
   Section 2(62) of Companies Act defines a one-person company as a company that has only one person as to its member. Furthermore, members of a company are nothing but subscribers to its memorandum of association, or its shareholders. So, an OPC is effectively a company that has only one shareholder as its member.</p>

         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>





</section>




{% endblock content %}