{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}


<section style="padding:50px">
<br>
<div class="container">
    <div class="text-center">
     <h2 class="hover-underline-animation">Partnership</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding:50px">

       <img class="taximg1" height="300px" width="100%" src="{% static 'CA_app/images/start_a_business_img/partnership.png'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6" style="padding:50px">

<p>
        A partnership business, by definition, consists of two or more people who combine their resources to form a business and agree to share risks, profits and losses. Common partnership business examples include law firms, physician groups, real estate investment firms and accounting groups.</p>

         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>





</section>


{% endblock content %}