{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}

<section style="padding:50px">
<br>
<div class="container">
    <div class="text-center">
     <h2 class="hover-underline-animation">Private Limited Company</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding:50px">

       <img class="taximg1" height="300px" width="100%" src="{% static 'CA_app/images/start_a_business_img/pvt.jpg'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6" style="padding:50px">

             <p>
                 A private limited company is a company which is privately held for small businesses. The liability of the members of a Private Limited Company is limited to the amount of shares respectively held by them. Shares of Private Limited Company cannot be publically traded.
             </p>
         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>





</section>



{% endblock content %}