{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}


<section style="padding:50px">
<br>
<div class="container">
    <div class="text-center">
     <h2 class="hover-underline-animation">Proprietorship</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding:50px">

       <img class="taximg1" height="300px" width="100%" src="{% static 'CA_app/images/start_a_business_img/Proprietorship1.png'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6" style="padding:50px">
<p>

A sole proprietorship—also referred to as a sole trader or a proprietorship—is an unincorporated business that has just one owner who pays personal income tax on profits earned from the business.
</p>

         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>





</section>



{% endblock content %}