{% extends 'CA_app/BASECODE/CA_app_base.html' %}
{% block content %}
{% load static %}


<section style="padding:50px">
<br>
<div class="container">
    <div class="text-center">
     <h2 class="hover-underline-animation">Public Limited Company</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding:50px">

       <img class="taximg1" height="300px" width="100%" src="{% static 'CA_app/images/start_a_business_img/public.jpeg'%}" alt="Pineapple" >
        </div>


         <div class="col-sm-6" style="padding:50px">
<p>
A public limited company is a business that is managed by directors and owned by shareholders. A public limited company can offer shares to the public

</p>

         <div>
    <button type="button" class="btn btn-success">Pay Secure & Continue</button>
     </div>
        </div>
    </div>

</div>





</section>


{% endblock content %}